{
    "presets": [
        "es2015",
        "react",
        "next/babel"
    ],
    "plugins": [
        [
            "inline-import",
            {
                "extensions": [
                    ".css"
                ]
            }
        ]
    ]
}