.product {
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 60px;
    overflow: hidden;
    text-align: center
}

.product .image {
    overflow: hidden
}

.product .image img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out
}

@media (max-width:767px) {
    .product .image img.img-responsive {
        min-width: 100%
    }
}

.product .text {
    padding: 10px
}

.product .text h3 {
    font-size: 14px;
    font-weight: 700;
    height: 39.6px;
    text-transform: uppercase;
    letter-spacing: .08em
}

.product .text h3 a {
    color: #555
}

.product .text h3 a:hover {
    text-decoration: none
}

.product .text p.price {
    font-size: 18px
}

.product .text p.price del {
    color: #999
}

.product .buttons {
    clear: both;
    position: absolute;
    display: none;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px transparent;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: center
}

.product .buttons .btn {
    margin-bottom: 20px
}

.product:hover {
    border-bottom: solid 1px #808080;
    top: 0
}

.product:hover .buttons {
    clear: both;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.5)
}

.product:hover .image img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.goToDescription {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px
}

.goToDescription a {
    color: #999;
    text-decoration: underline
}
